body {
  background-color: #ccc;
  color: black;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 12pt;
}

.message {
  font-family: Menlo, "Lucida Console", monospace;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  border: 1px #eee dashed;
  background-color: #ddd;
  padding: 0 0.5ex;
}

.message .positive {
  color: #090;
}

.message .negative {
  color: #900;
}

.message .brace {
  color: #099;
}

.message .string {
  color: #909;
}

h1 {
  font-size: 16pt;
  font-weight: 400;
  margin: 0;
  border-bottom: 1px #999 dotted;
}

h2 {
  font-size: 12pt;
  font-weight: 400;
  margin: 0;
}

a {
  color: #88f;
  text-decoration: none;
  cursor: pointer;
}

a#back {
  font-size: 150%;
  float: right;
}

a#back.alt-align {
  float: left;
}

a#alt-toggle {
  display: table;
  position: fixed;
  bottom: 0.5em;
  right: 0.5em;
  font-size: 150%;
  color: inherit;
}

a#alt-toggle.alt-align {
  left: 0.5em;
}

dl {
  display: grid;
  grid-template-columns: max-content auto;
  grid-column-gap: 0.5em;
}

dl dt {
  grid-column-start: 1;
  margin: 0;
  font-weight: 400;
}

dl dt:after {
  content: ':';
}

dl dd {
  grid-column-start: 2;
  margin: 0;
}

ul#remotes {
  display: block;
  padding: 0;
  margin: 0;
  overflow: auto;
  height: auto;
  white-space: nowrap;
}

ul#remotes > * {
  display: inline-block;
  vertical-align: top;
  margin: 0.5em;
  white-space: normal;
}

ul#remotes li figure, ul#remotes li figure * {
  margin: 0;
}

ul#remotes figure img {
  max-width: 40vw;
  max-height: 75vh;
}

@media only screen and (max-device-width: 480px) and (orientation: landscape) {
  ul#remotes figure img {
    max-height: 50vh;
  }
}

#tools {
  position: absolute;
  bottom: 0;
  width: calc(100% - 1rem);
  margin-bottom: 1.5em;
}

#tools ul, #tools li {
  margin-top: 0.25em;
  margin-bottom: 0.5em;
}

#tools li {
  float: left;
  padding-right: 2em;
}

#remote {
  border: 1px #222 solid;
  background-color: var(--remote-bg, #333);
  color: var(--remote-fg, white);
  max-width: calc(var(--button-width, 3rem) * 3 + var(--button-gap, 0.5rem) * 4);
  z-index: 65535
}

#remote.alt-align {
  margin-left: auto;
  margin-right: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  display: table;
  margin: var(--button-gap, 0.5em);
  margin-top: calc(var(--button-gap, 0.5em) * 2);
  color: var(--legend-fg, inherit);
  font-size: var(--legend-font-size, inherit);
  font-weight: 400;
}

legend.alt-align {
  margin-left: auto;
  margin-right: var(--button-gap, 0.5em);
}

button {
  background-color: var(--button-bg, #333);
  color: var(--button-fg, white);
  text-align: center;
  font-weight: inherit;
  font-size: var(--button-font-size, inherit);
  border-radius: var(--button-radius, 1em);
  border-left: 0.2ex solid #282828;
  border-top: 0.2ex solid #282828;
  border-right: 0.4ex solid #222;
  border-bottom: 0.4ex solid #222;
  margin: 0;
  padding: 0 0.5em;
  touch-action: manipulation;
}

button:not([disabled]) {
  cursor: pointer;
}

button[disabled] {
  filter: brightness(0.5);
}

button:not([disabled]):hover {
  background-color: var(--button-bg, #333) !important;
  filter: brightness(1.2);
}

button:not([disabled]):active {
  background-color: var(--button-bg, #333) !important;
  filter: brightness(0.8);
}

.grid-cluster {
  display: grid;
  grid-gap: var(--button-gap, 0.5rem);
  grid-template-columns: repeat(auto-fit, var(--button-width, 3rem));
  grid-template-rows: repeat(auto-fit, var(--button-height, 2rem));
  margin: var(--button-gap, 0.5rem);
}

.grid-cluster.alt-align {
  justify-content: end;
}

.grid-cluster * {
  width: var(--button-width, 3rem);
  height: var(--button-height, 2rem);
}

.v-rocker-cluster {
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(auto-fit, var(--button-width, 3rem));
  grid-template-rows: repeat(auto-fit, var(--button-height, 3rem));
  margin: var(--button-gap, 0.5rem);
}

.v-rocker-cluster.alt-align {
  justify-content: end;
}

.v-rocker-cluster button {
  width: var(--button-width, 3rem);
  height: var(--button-height, 3rem);
}

.v-rocker-up button {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;
}

.v-rocker-down button {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: none;
}

.directional-cluster {
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(3, var(--button-width, 4rem));
  grid-template-rows: repeat(3, var(--button-height, 4rem));
  margin: calc(var(--button-gap, 0.5rem) * 2);
}

.directional-cluster.alt-align {
  justify-content: end;
}

.directional-cluster button {
  width: 100%;
  height: 100%;
}

.directional-up {
  grid-column: 2;
  grid-row: 1;
}

.directional-up button {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;
}

.directional-left {
  grid-column: 1;
  grid-row: 2;
}

.directional-left button {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
}

.directional-select {
  grid-column: 2;
  grid-row: 2;
}

.directional-select button {
  border-radius: 0;
  border: none;
}

.directional-right {
  grid-column: 3;
  grid-row: 2;
}

.directional-right button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: none;
}

.directional-down {
  grid-column: 2;
  grid-row: 3;
}

.directional-down button {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: none;
}

#status {
  border: 1px solid #222;
  background-color: #222;
  width: 1rem;
  height: 0.5rem;
  margin: var(--button-gap, 0.5rem);
  float: right;
  cursor: pointer;
}

#status.alt-align {
  float: left;
}

#response {
  position: absolute;
  display: none;
  overflow: auto;
  border: 1px solid #ddd;
  width: var(--response-width, 10rem);
  height: var(--response-height, 20rem);
  right: 0.5rem;
  top: 3rem;
  z-index: 65534;
}

#response.alt-align {
  left: 0.5rem;
}

button#response-close {
  position: absolute;
  display: none;
  opacity: 0.8;
  font-size: 10pt;
  text-align: center;
  padding: 0;
  width: 1.25rem;
  height: 1.25rem;
  --button-bg: #933;
  --button-fg: white;
  --button-radius: 0;
  border: 1px #822 solid;
  right: 0.5rem;
  top: 3rem;
  z-index: 65535;
}

button#response-close.alt-align {
  left: calc(var(--response-width, 10rem) + 0.5rem - 1.25rem + 2px);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }

  .message .positive {
    color: #090;
  }

  .message .negative {
    color: #900;
  }

  .message .brace {
    color: #0cc;
  }

  .message .string {
    color: #c0c;
  }

  h1 {
    border-bottom: 1px #666 dotted;
  }

  .message {
    border: 1px #222 dashed;
    background-color: #333;
  }

  a#alt-toggle {
    color: #666;
  }

  #response {
    border: 1px solid #222;
    background-color: black;
  }
}
