{% extends 'base.html' %}
{% block title %}IR Box{% endblock %}
{% block content %}
    <h1>Remotes</h1>
    <ul id="remotes">
{% for remote_id, remote_data in remotes.items() %}
{# This is hackish, but works to unpck a tuple #}
{% set remote_name = remote_data.0 %}
{% set remote_url = remote_data.1 %}
{% set remote_image = remote_data.2 %}
{% if remote_url %}
      <li>
        <figure>
          <figcaption><a href="{{ remote_url }}">{{ remote_name }}</a></figcaption>
          {% if remote_image %}
          <a href="{{ remote_url }}"><img src="{{ remote_image }}"></a>
          {% endif %}
        </figure>
      </li>
{% endif %}
{% endfor %}
    </ul>
    <div id="tools">
      <h1>Tools</h1>
      <ul>
        <li><a href="{{ url_for('rx_blueprint.rx_viewer') }}">Receive Mode</a></li>
      </ul>
    </div>
{% endblock %}
