{% extends 'base.html' %}
{% block title %}Receive Mode{% endblock %}
{% block content %}
    <script src="{{ url_for('static', filename='irbox.js') }}"></script>
    <script>
      /* Make sure the user has exited receive mode before leaving */
      window.addEventListener("beforeunload", function(event) {
        if (document.getElementById('stop') && !document.getElementById('stop')['disabled']) {
          event.preventDefault();
          } else {
            delete event['returnValue'];
          }
      });
    </script>
    <a id="back" href="{{ url_for('index_blueprint.index') }}" class="alt-align" title="Back to remotes list">🔙</a>
    <a id="alt-toggle" class="alt-align" onclick="toggleAlt();" title="Toggle alignment">↹</a>
    <div style="--response-width: min(20rem, calc(100vw - (4rem * 2 + 0.5rem * 9))); --response-height: calc(100vh - 6.5rem);">
      <iframe id="response" class="alt-align" style="display: block;" src="{{ url_for('rx_blueprint.rx_messages') }}"></iframe>
    </div>
    <div id="remote" class="alt-align" style="--button-width: 4rem; --button-gap: 0.5rem; max-width: calc(var(--button-width) * 2 + var(--button-gap) * 6);">
      <div id="status" class="alt-align"></div>
      <div style="height: 2rem;"></div>
      <fieldset style="margin: 0 0.5rem 0.5rem 0.5rem;">
        <legend>Receive Mode</legend>
        <div class="grid-cluster alt-align">
          <button id="start" type="button" style="--button-bg: #090;" onclick="rx();">Start</button>
          <button id="stop" type="button" style="--button-bg: #900;" disabled onclick="norx();">Stop</button>
        </div>
      </fieldset>
    </div>
{% endblock %}
