{% extends 'base.html' %}
{% block title %}Epson Projector{% endblock %}
{% block content %}
    <script src="{{ url_for('static', filename='irbox.js') }}"></script>
    <script>
      const ON    = { };
      const STDBY = { };
      const HOME  = { };
      const BLANK = { };
      const HDMI1 = { };
      const HDMI2 = { };
      const PIP   = { };
      const SWAP  = { };
      const PC    = { };
      const LAN   = { };
      const REW   = { };
      const PLAY  = { };
      const FFW   = { };
      const BACK  = { };
      const PAUSE = { };
      const FWD   = { };
      const LKMNU = { };
      const STOP  = { };
      const MUTE  = { };
      const HDMIL = { };
      const VOLDN = { };
      const VOLUP = { };
      const LENS  = { };
      const COLRM = { };
      const IMGEN = { };
      const UP    = { };
      const LEFT  = { };
      const ENTER = { };
      const RIGHT = { };
      const DOWN  = { };
      const DEFLT = { };
      const MENU  = { };
      const ESC   = { };
      const MEMRY = { };
      const LENS1 = { };
      const LENS2 = { };
      const FRMIN = { };
      const RGBCM = { };
      const PATRN = { };
      const USER  = { };
      const TDFMT = { };
      const ASPCT = { };
    </script>
    <style>
      /* font-stretch doesn't seem to work on WebKit */
      @media only screen and (max-device-width: 480px) {
        .condensed {
          font-size: 7pt !important;
        }
      }
    </style>
    <a id="back" href="{{ url_for('index_blueprint.index') }}" class="alt-align" title="Back to remotes list">🔙</a>
    <a id="alt-toggle" class="alt-align" onclick="toggleAlt();" title="Toggle alignment">↹</a>
    <div style="--response-width: 10rem; --response-height: 16rem;">
      <iframe id="response" class="alt-align" src="{{ url_for('status_blueprint.status') }}"></iframe>
      <button id="response-close" class="alt-align" title="Close" onclick="showResponse(false);">✕</button>
    </div>
    <div id="remote" class="alt-align" style="--legend-font-size: 11pt; --legend-fg: white; --remote-bg: #333; --remote-fg: white; --button-bg: #ccc; --button-fg: black; --button-width: 4rem; --button-height: 1.5rem; --button-gap: 0.5rem; --button-radius: 0.5ex; --button-font-size: 9pt; max-width: calc(var(--button-width) * 3 + var(--button-gap) * 4); border-radius: 1.5em;">
      <div id="status" class="no-alt" style="margin-right: calc(var(--button-gap) * 2);" onclick="toggleResponse();"></div>
      <div class="grid-cluster no-alt" style="--button-width: 2.5rem; --button-height: 1.25rem; text-align: center; font-size: 10pt;">
        <p>On</p>
        <p style="margin-left: calc(-1 * var(--button-gap));">Standby</p>
      </div>
      <div class="grid-cluster no-alt" style="--button-width: 2.5rem; --button-height: 2.5rem; --button-radius: 2.5rem; --button-bg: #00c; --button-fg: #ccc; margin-top: 0;">
        <button type="button" onclick="tx(ON);">|</button>
        <button type="button" style="width: calc(var(--button-width) * 0.8); height: calc(var(--button-height) * 0.8); margin-top: auto; margin-bottom: 0; --button-font-size: 10pt;" onclick="tx(STDBY);">⌽</button>
      </div>
      <div class="grid-cluster alt-align">
        <button type="button" onclick="tx(HOME);">Home</button>
        <div></div>
        <button type="button" style="--button-bg: black; --button-fg: #ccc;" onclick="tx(BLANK);">Blank</button>
      </div>
      <div style="text-align: center; margin: 0 var(--button-gap); border-bottom: 1px white solid; line-height: 0.1em; font-size: 10pt;">
        <span style="background-color: #333; padding: 0 var(--button-gap);">Source</span>
      </div>
      <div class="grid-cluster alt-align">
        <button type="button" onclick="tx(HDMI1);">HDMI 1</button>
        <button type="button" onclick="tx(HDMI2);">HDMI 2</button>
        <button type="button" onclick="tx(PIP);">P-in-P</button>
        <button type="button" onclick="tx(PC);">PC</button>
        <button type="button" onclick="tx(LAN);">LAN</button>
        <button type="button" onclick="tx(SWAP);">SWAP</button>
      </div>
      <div style="text-align: center; margin: 0; border-bottom: 1px #222 solid; line-height: 0.1em;"></div>
      <div class="grid-cluster alt-align" style="--button-bg: black; --button-fg: #ccc;">
        <button type="button" onclick="tx(REW);">◀︎◀︎</button>
        <button type="button" onclick="tx(PLAY);">▶︎</button>
        <button type="button" onclick="tx(FFW);">▶︎▶︎</button>
        <button type="button" onclick="tx(BACK);">❙◀︎◀︎</button>
        <button type="button" onclick="tx(PAUSE);">❙❙</button>
        <button type="button" onclick="tx(FWD);">▶︎▶︎❙</button>
        <button type="button" class="condensed" style="font-stretch: extra-condensed;" onclick="tx(LKMNU);">Link Menu</button>
        <button type="button" onclick="tx(STOP);">◼︎</button>
        <button type="button" onclick="tx(MUTE);">⊝Mute</button>
      </div>
      <div style="height: 0.1em;"></div>
      <div class="grid-cluster alt-align" style="--button-height: 2.5rem; --button-bg: black; --button-fg: #ccc;">
        <button type="button" onclick="tx(HDMIL);">HDMI Link</button>
        <button type="button" onclick="tx(VOLDN);"><span style="display: block; margin-left: calc(-1 * var(--button-gap)); margin-top: 0.25em; height: 1.5em;">Volume</span><span style="display: block; margin-left: calc(-1 * var(--button-gap)); margin-top: -0.5em; height: 1.5em; font-size: 16pt;">−</span></button>
        <button type="button" onclick="tx(VOLUP);"><span style="display: block; margin-left: calc(-1 * var(--button-gap)); margin-top: 0.25em; height: 1.5em;">Volume</span><span style="display: block; margin-left: calc(-1 * var(--button-gap)); margin-top: -0.5em; height: 1.5em; font-size: 16pt;">+</span></button>
      </div>
      <div style="height: 0.5em;"></div>
      <div class="grid-cluster alt-align" style="--button-height: 2.5rem;">
        <button type="button" style="font-size: 12pt;" onclick="tx(HDMIL);">Lens</button>
        <button type="button" onclick="tx(VOLDN);">Color Mode</button>
        <button type="button" onclick="tx(VOLUP);">Image Enh</button>
      </div>
      <div class="directional-cluster alt-align" style="--button-width: 2.5rem; --button-height: 2.5rem; margin: var(--button-gap) calc(var(--button-gap) * 6.5);">
        <div class="directional-up">
          <button type="button" onclick="tx(UP);">▲</button>
        </div>
        <div class="directional-left">
          <button type="button" onclick="tx(LEFT);">◀︎</button>
        </div>
        <div class="directional-select">
          <button type="button" style="border-radius: 0.5ex;" onclick="tx(ENTER);">Enter</button>
        </div>
        <div class="directional-right">
          <button type="button" onclick="tx(RIGHT);">▶︎</button>
        </div>
        <div class="directional-down">
          <button type="button" onclick="tx(DOWN);">▼</button>
        </div>
      </div>
      <div class="grid-cluster alt-align" style="--button-height: 2.5rem;">
        <button type="button" onclick="tx(DEFLT);">Default</button>
        <button type="button" style="font-size: 12pt;" onclick="tx(MENU);">Menu</button>
        <button type="button" style="font-size: 12pt;" onclick="tx(ESC);">Esc</button>
      </div>
      <div style="text-align: center; margin: 0; border-bottom: 1px #222 solid; line-height: 0.1em;"></div>
      <div class="grid-cluster alt-align">
        <button type="button" onclick="tx(MEMRY);">Memory</button>
        <button type="button" onclick="tx(LENS1);">Lens1</button>
        <button type="button" onclick="tx(LENS2);">Lens2</button>
        <button type="button" style="font-size: 8pt;" onclick="tx(FRMIN);">Frame Int</button>
        <button type="button" onclick="tx(RGBCM);">RGBCMY</button>
        <button type="button" onclick="tx(PATRN);">Pattern</button>
        <button type="button" onclick="tx(USER);">User</button>
        <button type="button" class="condensed" style="font-size: 8pt; font-stretch: condensed;" onclick="tx(TDFMT);">3D Format</button>
        <button type="button" onclick="tx(ASPCT);">Aspect</button>
      </div>
      <div style="height: 3em;"></div>
      <div style="text-align: center;">
        <span style="font-size: 16pt; font-weight: 600;">EPSON</span>
        <div style="height: 0.25em;"></div>
        <div>
          <span style="background-color: #ccc; color: #333; border-radius: 0.6ex; padding: 0 2em;">Projector</span>
        </div>
      </div>
      <div style="height: 1em;"></div>
    </div>
{% endblock %}
