{% extends 'base.html' %}
{% block title %}Living Room{% endblock %}
{% block content %}
    <script src="{{ url_for('static', filename='irbox.js') }}"></script>
    <script>
      const ON =    { 'p': 0x08, 'a': 0x5583, 'c': 0x90,           'r': 0x5 };
      const OFF =   { 'p': 0x08, 'a': 0x5583, 'c': 0x91,           'r': 0x5 };

      const MUTE =  { 'p': 0x13, 'a': 0x30,   'c': 0x14, 'b': 0xf, 'r': 0x3 };
      const VDOWN = { 'p': 0x13, 'a': 0x30,   'c': 0x13, 'b': 0xf, 'r': 0x3 };
      const VUP =   { 'p': 0x13, 'a': 0x30,   'c': 0x12, 'b': 0xf, 'r': 0x3 };

      // Sony VCR stop
      const MENU =  { 'p': 0x13, 'a': 0xb,    'c': 0x18, 'b': 0xc, 'r': 0x3 };
      const HOME =  { 'p': 0x13, 'a': 0xb,    'c': 0x18, 'b': 0xc, 'r': 0x12 };
      // Sony VCR 2
      const UP =    { 'p': 0x13, 'a': 0xb,    'c': 0x1,  'b': 0xc, 'r': 0x3 };
      // Sony VCR 4
      const LEFT =  { 'p': 0x13, 'a': 0xb,    'c': 0x3,  'b': 0xc, 'r': 0x3 };
      // Sony VCR 5
      const OK =    { 'p': 0x13, 'a': 0xb,    'c': 0x4,  'b': 0xc, 'r': 0x3 };
      // Sony VCR 6
      const RIGHT = { 'p': 0x13, 'a': 0xb,    'c': 0x5,  'b': 0xc, 'r': 0x3 };
      // Sony VCR 8
      const DOWN =  { 'p': 0x13, 'a': 0xb,    'c': 0x7,  'b': 0xc, 'r': 0x3 };
      // Sony VCR rewind
      const REW =   { 'p': 0x13, 'a': 0xb,    'c': 0x1b, 'b': 0xc, 'r': 0x3 };
      // Sony VCR play
      const PLAY =  { 'p': 0x13, 'a': 0xb,    'c': 0x1a, 'b': 0xc, 'r': 0x3 };
      // Sony VCR fast forward
      const FFW =   { 'p': 0x13, 'a': 0xb,    'c': 0x1c, 'b': 0xc, 'r': 0x3 };
      // Sony VCR record
      const BACK =  { 'p': 0x13, 'a': 0xb,    'c': 0x1d, 'b': 0xc, 'r': 0x3 };
      // Sony VCR pause
      const FWD =   { 'p': 0x13, 'a': 0xb,    'c': 0x19, 'b': 0xc, 'r': 0x3 };

      const NEXT =  { 'p': 0x08, 'a': 0x80,   'c': 0x1f,           'r': 0x0 };
      const WIN =   { 'p': 0x08, 'a': 0x80,   'c': 0x1,            'r': 0x0 };
      const APPLE = { 'p': 0x08, 'a': 0x80,   'c': 0x3,            'r': 0x0 };
    </script>
    <a href="{{ url_for('index_blueprint.index') }}" class="back">←</a>
    <div class="button-grid" style="--width: min(100vw, 300px);">
      <div id="status" onclick="showResponse();"></div>
      <iframe id="response"></iframe>
      <button id="response-close" onclick="showResponse(false);">✕</button>
      <p>Projector</p>
      <div class="row" style="--cols: 2;">
        <button type="button" style="--bg: #0c0;" onclick="tx(ON);">On</button>
        <button type="button" onclick="tx(OFF);">Off</button>
      </div>
      <p>Sound Bar</p>
      <div class="row" style="--cols: 3;">
        <button type="button" class="fill" onclick="tx(MUTE);">Mute</button>
        <button type="button" class="fill" onclick="tx(VDOWN);">-</button>
        <button type="button" class="fill" onclick="tx(VUP);">+</button>
      </div>
      <p>Apple TV</p>
      <div class="row" style="--cols: 2;">
        <button type="button" onclick="tx(MENU);">Menu</button>
        <button type="button" onclick="tx(HOME);">Home</button>
      </div>
      <div class="row" style="--cols: 1;">
        <button type="button" style="--bg: #008;" onclick="tx(UP);">Up</button>
      </div>
      <div class="row" style="--cols: 3;">
        <button type="button" style="--bg: #008;" onclick="tx(LEFT);">Left</button>
        <button type="button" style="--bg: #008;" onclick="tx(OK);">OK</button>
        <button type="button" style="--bg: #008;" onclick="tx(RIGHT);">Right</button>
      </div>
      <div class="row" style="--cols: 1;">
        <button type="button" style="--bg: #008;" onclick="tx(DOWN);">Down</button>
      </div>
      <div class="row" style="--cols: 3;">
        <button type="button" class="fill" onclick="tx(REW);">Rew</button>
        <button type="button" class="fill" onclick="tx(PLAY);">Play</button>
        <button type="button" class="fill" onclick="tx(FFW);">Ffw</button>
      </div>
      <div class="row" style="--cols: 2;">
        <button type="button" class="fill" onclick="tx(BACK);">Back</button>
        <button type="button" class="fill" onclick="tx(FWD);">Fwd</button>
      </div>
      <p>Input</p>
      <div class="row" style="--cols: 3;">
        <button type="button" class="fill" onclick="tx(NEXT);">Next</button>
        <button type="button" class="fill" style="--bg: #08f;" onclick="tx(WIN);">Win</button>
        <button type="button" class="fill" style="--bg: #880;" onclick="tx(APPLE);">Apple</button>
      </div>
    </div>
{% endblock %}
