{% extends 'remote-base.html' %}
{% block remote_content %}
    <div id="remote"{% if alt_align %} class="alt-align"{% endif %} style="--legend-font-size: 9pt; --legend-fg: white; --remote-bg: #333; --remote-fg: white; --button-width: 3.5rem; --button-height: 1.5rem; --button-gap: 1rem; --button-radius: 0.5ex; --button-font-size: 9pt; max-width: calc(var(--button-width) * 3 + var(--button-gap) * 4);">
      <div style="height: 2rem;">
        <div id="status"{% if alt_align %} class="alt-align"{% endif %} style="margin-bottom: 0;" onclick="toggleResponse();"></div>
      </div>
      <div class="grid-cluster" style="margin-top: 0; --button-width: calc(3.5rem * 3/4); --button-height: 1rem; --button-gap: 0.75rem; color: #ff9; font-size: 8pt; text-align: center;">
        <span style="margin-top: auto; margin-bottom: calc(-1 * var(--button-gap));"><br>MUTING</span>
        <span style="margin-top: auto; margin-bottom: calc(-1 * var(--button-gap));"><br>INPUT</span>
        <span style="margin-top: auto; margin-bottom: calc(-1 * var(--button-gap));">TV<br>| ⁄ ⌽</span>
        <span style="margin-top: auto; margin-bottom: calc(-1 * var(--button-gap)); font-size: 10pt; color: white;">| ⁄ ⌽</span>
        <button type="button" style="margin-top: calc((var(--button-width) - var(--button-height)) / 2);" onclick="tx(TVMUT);"></button>
        <button type="button" style="margin-top: calc((var(--button-width) - var(--button-height)) / 2);" onclick="tx(TVINP);"></button>
        <button type="button" style="margin-top: calc((var(--button-width) - var(--button-height)) / 2); --button-bg: #090;" onclick="tx(TVPWR);"></button>
        <button type="button" style="--button-bg: #090; --button-height: var(--button-width); border-radius: var(--button-width);" onclick="tx(POWER);"></button>
      </div>
      <div class="grid-cluster{% if alt_align %} alt-align"{% endif %} style="margin-bottom: 0; --button-fg: #ff9;">
        <button type="button" onclick="tx(TVVLU);">+</button>
        <button type="button" onclick="tx(TVCHU);">+</button>
        <button type="button" style="--button-fg: white;" onclick="tx(INPTN);">+</button>
      </div>
      <div class="grid-cluster{% if alt_align %} alt-align{% endif %}" style="margin-top: 0; margin-bottom: -0.3ex; --button-height: 1rem; color: #ff9; font-size: 8pt; text-align: center;">
        <span>TV VOL</span>
        <span>TV CH</span>
        <span style="color: white;">INPUT</span>
      </div>
      <div class="grid-cluster{% if alt_align %} alt-align{% endif %}" style="margin-top: 0; --button-fg: #ff9;">
        <button type="button" onclick="tx(TVVLD);">−</button>
        <button type="button" onclick="tx(TVCHD);">−</button>
        <button type="button" style="--button-fg: white;" onclick="tx(INPTP);">−</button>
      </div>
      <div style="margin: calc(var(--button-gap) / 2); padding: 0; border: 1px white solid; border-radius: 0.5ex; height: calc(var(--button-height) * 2 + var(--button-gap) * 2);">
        <div class="grid-cluster{% if alt_align %} alt-align{% endif %}" style="grid-template-columns: auto auto auto; margin: calc(var(--button-gap) / 2);">
          <button type="button" ="condensed" onclick="tx(STD);">STD</button>
          <button type="button" onclick="tx(MOVIE);">MOVIE</button>
          <button type="button" onclick="tx(GAME);">GAME</button>
          <button type="button" onclick="tx(MUSIC);">MUSIC</button>
          <button type="button" class="condensed" style="font-stretch: condensed;" onclick="tx(PAUDO);">P.AUDIO</button>
          <button type="button" class="condensed" style="font-stretch: condensed;" onclick="tx(STREO);">STEREO</button>
        </div>
        <span style="display: block; position: relative; top: calc(-1 * 2 * (var(--button-height) + var(--button-gap) - 0.75rem - 0.8ex)); font-size: 8pt; text-align: center;">SOUND FIELD</span>
      </div>
      <div class="grid-cluster" style="margin-top: -2rem; margin-bottom: 0; --button-width: calc(3.5rem * 1/2); --button-height: calc(3.5rem * 1/2); --button-gap: 1.5rem; --button-radius: 1rem; font-size: 8pt; text-align: center;">
        <span style="margin-top: auto; margin-bottom: calc(-1 * var(--button-gap) + 0.5ex);"><br>NIGHT</span>
        <div></div>
        <span style="margin-top: auto; margin-bottom: calc(-1 * var(--button-gap) + 0.5ex); direction: rtl;"><br>DISPLAY</span>
        <span style="margin-top: auto; margin-bottom: calc(-1 * var(--button-gap) + 0.5ex); margin-left: -1ex;"><br>MUTING</span>
        <button type="button" onclick="tx(NIGHT);"></button>
        <div></div>
        <button type="button" onclick="tx(DSPLY);"></button>
        <button type="button" onclick="tx(MUTNG);"></button>
      </div>
      <div class="v-rocker-cluster no-alt" style="margin-left: 0; --button-width: 2.5rem; --button-height: 2.5rem; float: right; width: var(--button-width);">
        <span style="text-align: center;"><br>VOL</span>
        <div class="v-rocker-up">
          <button type="button" onclick="tx(VOLUP);">+</button>
        </div>
        <div class="v-rocker-down">
          <button type="button" onclick="tx(VOLDN);">−</button>
        </div>
      </div>
      <div class="directional-cluster{% if alt_align %} alt-align{% endif %} no-alt" style="--button-width: 2.5rem; --button-height: 2.5rem; margin: 0 calc(var(--button-gap) * 5.125);">
        <div class="directional-up">
          <button type="button" onclick="tx(UP);">▲</button>
        </div>
        <div class="directional-left">
          <button type="button" onclick="tx(LEFT);">◀︎</button>
        </div>
        <div class="directional-select">
          <button type="button" style="border-radius: 0.5ex;" onclick="tx(ENTER);">◆</button>
        </div>
        <div class="directional-right">
          <button type="button" onclick="tx(RIGHT);">▶︎</button>
        </div>
        <div class="directional-down">
          <button type="button" onclick="tx(DOWN);">▼</button>
        </div>
      </div>
      <div class="grid-cluster no-alt" style="margin-top: 0; margin-bottom: -2rem; --button-width: calc(3.5rem * 1/2); --button-height: calc(3.5rem * 1/2); --button-gap: 1.5rem; --button-radius: 1rem; font-size: 8pt; text-align: center;">
        <button type="button" onclick="tx(RETRN);"></button>
        <div></div>
        <button type="button" onclick="tx(AMPMU);"></button>
        <span style="margin-top: calc(-1 * var(--button-gap) + 0.5ex); margin-bottom: auto;">RETURN</span>
        <div></div>
        <span style="margin-top: calc(-1 * var(--button-gap) + 0.5ex); margin-bottom: auto; white-space: nowrap; direction: rtl;">AMP MENU</span>
      </div>
      <div style="height: var(--button-gap);"></div>
      <div style="text-align: center; margin: 0 var(--button-gap); border-bottom: 1px white solid; line-height: 0.1rem; font-size: 10pt;">
        <span style="background-color: #333; padding: 0 1ex;">BLUETOOTH</span>
      </div>
      <div class="grid-cluster{% if alt_align %} alt-align{% endif %}" style="margin-top: calc(var(--button-gap) / 2); margin-bottom: 0;">
        <button type="button" onclick="tx(BACK);">❙◀︎◀︎</button>
        <button type="button" onclick="tx(PAUSE);">❙❙</button>
        <button type="button" onclick="tx(FWD);">▶︎▶︎❙</button>
        <button type="button" onclick="tx(REW);">◀︎◀︎</button>
        <button type="button" onclick="tx(PLAY);">▶︎</button>
        <button type="button" onclick="tx(FFW);">▶︎▶︎</button>
      </div>
      <div class="grid-cluster{% if alt_align %} alt-align{% endif %}" style="margin-top: calc(var(--button-gap) - var(--button-height)); margin-bottom: 0.5ex; --button-height: 8pt; font-size: var(--button-height); text-align: center;">
        <span>PAIRING</span>
        <div></div>
        <div></div>
      </div>
      <div class="grid-cluster{% if alt_align %} alt-align{% endif %}" style="margin-top: 0;">
        <button type="button" style="margin: 0 calc((var(--button-width) - var(--button-height)) / 2); width: var(--button-height); --button-radius: 1rem;" onclick="tx(PAIRG);"></button>
        <button type="button" onclick="tx(STOP);">◼︎</button>
        <div></div>
      </div>
      <div style="text-align: center;">
        <span style="font-size: 16pt; font-weight: 600;">SONY</span>
        <div style="height: 0.25rem;"></div>
        <div>
          <span style="background-color: #ccc; color: #333; border-radius: 0.6ex; padding: 0 2rem;">AV SYSTEM</span>
        </div>
        <span style="font-size: 8pt;">RM-ANP109</span>
      </div>
    </div>
{% endblock %}
